body{
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    background-color: rgb(249, 241, 227);
    
}
ul{
    font-size: 15px;
    padding: 1rem;
    font-weight: normal;
}
ol{
    font-size: 15px;
    font-weight: bold;
}
img{
    width: 40vw;
    margin: 1rem;
}
iframe{
    width: 40vw;
    height: 25vw;
    margin: 1rem;
}
DisneyTableau{
    display: inline-flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

